Obligatorio P3 - 1a Entrega/GestionTramite/InterfazWeb/Connected Services/ServiceReference/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Grupo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupo" nillable="true" type="tns:Grupo" />
  <xs:simpleType name="EnumPerfil">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoAutorizado" />
      <xs:enumeration value="Admin" />
      <xs:enumeration value="FuncionarioMantenimiento" />
      <xs:enumeration value="Anonimo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumPerfil" nillable="true" type="tns:EnumPerfil" />
</xs:schema>