Obligatorio P3 - 1a Entrega/GestionTramite/InterfazWeb/Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58771/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
  <xs:import schemaLocation="http://localhost:58771/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="WCFAddGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreGrupo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFAddGrupoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="costo" type="xs:double" />
        <xs:element minOccurs="0" name="tiempo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddTramiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFAddTramiteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGetTramite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGetTramiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFGetTramiteResult" nillable="true" type="q1:ArrayOfDTOTramite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarTramites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarTramitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFListarTramitesResult" nillable="true" type="q2:ArrayOfDTOTramite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerTramitePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTramite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerTramitePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFObtenerTramitePorIdResult" nillable="true" type="q3:DTOTramite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFEditarTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Costo" type="xs:double" />
        <xs:element minOccurs="0" name="Tiempo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFEditarTramiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LapsoMax" type="xs:int" />
        <xs:element minOccurs="0" name="IdTramite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddEtapaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFAddEtapaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarEtapas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarEtapasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFListarEtapasResult" nillable="true" type="q4:ArrayOfDTOEtapa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFEditarEtapaCodDes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFEditarEtapaCodDesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFEditarEtapaCodDesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFGuardarTxtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFExisteNombreTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreTramite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFExisteNombreTramiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFExisteNombreTramiteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarGrupos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFListarGruposResult" nillable="true" type="q5:ArrayOfDTOGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGetGrupo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGetGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFGetGrupoResult" nillable="true" type="q6:ArrayOfDTOGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerGrupoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerGrupoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFObtenerGrupoPorIdResult" nillable="true" type="q7:DTOGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFEditGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="nombreGrupo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFEditGrupoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFValidarUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGetNombreCompleto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGetNombreCompletoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFGetNombreCompletoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarGruposVacios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarGruposVaciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFListarGruposVaciosResult" nillable="true" type="q8:ArrayOfDTOGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFEliminarGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreGrupo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFEliminarGrupoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarPerfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarPerfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WCFListarPerfilesResult" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="perfil" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreCompleto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFAddFuncionarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerIdUSuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerIdUSuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFObtenerIdUSuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddUsuarioGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddUsuarioGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFAddUsuarioGrupoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarGrupoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarGrupoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFListarGrupoUsuarioResult" nillable="true" type="q10:ArrayOfDTOGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFObtenerUsuarioResult" nillable="true" type="q11:DTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarFuncionarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFListarFuncionariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFListarFuncionariosResult" nillable="true" type="q12:ArrayOfDTOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxt_Grupos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxt_GruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFGuardarTxt_GruposResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxt_Funcionarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxt_FuncionariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFGuardarTxt_FuncionariosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxt_Tramites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxt_TramitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFGuardarTxt_TramitesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddGrupoTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="gt" nillable="true" type="q13:DTOGrupoTramite" />
        <xs:element minOccurs="0" name="tituloTramiteUnico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddGrupoTramiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFAddGrupoTramiteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddGrupoDeGRupoTramitePorIdGT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoTramite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddGrupoDeGRupoTramitePorIdGTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFAddGrupoDeGRupoTramitePorIdGTResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFEditarEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEtapa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tiempo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFEditarEtapaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFEditarEtapaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerEtapaPorIdEtapa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEtapa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerEtapaPorIdEtapaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFObtenerEtapaPorIdEtapaResult" nillable="true" type="q14:DTOEtapa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerIdGrupoTramitePorIdTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tituloTramite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerIdGrupoTramitePorIdTramiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFObtenerIdGrupoTramitePorIdTramiteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerGrupoTramitePorIdTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tituloTramite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerGrupoTramitePorIdTramiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="WCFObtenerGrupoTramitePorIdTramiteResult" nillable="true" type="q15:ArrayOfDTOGrupoTramite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>